<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="jettyServer" class="org.eclipse.jetty.server.Server">
        <property name="connectors">
            <util:list>
                <bean id="connector" class="org.eclipse.jetty.server.nio.NetworkTrafficSelectChannelConnector">
                    <property name="port" value="9090" />
                </bean>
            </util:list>
        </property>

        <property name="handler">
            <bean id="handlers" class="org.eclipse.jetty.server.handler.HandlerCollection">
                <property name="handlers">
                    <util:list>
                        <bean class="org.eclipse.jetty.servlet.ServletContextHandler">
                            <property name="contextPath" value="/" />
                            <property name="sessionHandler">
                                <bean class="org.eclipse.jetty.server.session.SessionHandler" />
                            </property>
                            <property name="resourceBase" value="." />
                            <property name="servletHandler">
                                <bean class="org.eclipse.jetty.servlet.ServletHandler">
                                    <property name="servlets">
                                        <util:list>
                                            <bean class="org.eclipse.jetty.servlet.ServletHolder">
                                                <property name="name" value="DefaultServlet" />
                                                <property name="servlet">
                                                    <bean class="org.springframework.web.servlet.DispatcherServlet"/>
                                                </property>
                                                <property name="initParameters">
                                                    <map>
                                                        <entry key="contextConfigLocation" value="classpath:/web/DefaultServlet.xml" />
                                                    </map>
                                                </property>

                                            </bean>
                                        </util:list>
                                    </property>
                                    <property name="servletMappings">
                                        <util:list>
                                            <bean class="org.eclipse.jetty.servlet.ServletMapping">
                                                <property name="pathSpecs">
                                                    <util:list>
                                                        <value>/</value>
                                                    </util:list>
                                                </property>
                                                <property name="servletName" value="DefaultServlet" />
                                            </bean>
                                        </util:list>
                                    </property>
                                </bean>
                            </property>
                        </bean>
                    </util:list>
                </property>
            </bean>
        </property>
    </bean>
</beans>
